.header_cart {
  margin: 0 auto;
  width: 320px;
}
.div_title {
  height: 65px;
  display: flex;
  align-items: center;
  background-color: #27ae60;
  border-radius: 5px 5px 0px 0px;
}
.text_title {
  padding-left: 20px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
@media (min-width: 768px) {
  .header_cart {
    margin: 0px 53%;
  }
}
@media (min-width: 1024px) {
  .header_cart {
    margin: 0px 67%;
  }
}
@media (min-width: 1344px) {
  .header_cart {
    margin: 15px 0 0 0;
  }
}
